<div class="hotale-mobile-header-wrap">
    <div class="hotale-mobile-header hotale-header-background hotale-style-slide hotale-sticky-mobile-navigation nav__mobile"
        id="hotale-mobile-header">
        <div class="hotale-mobile-header-container hotale-container clearfix"style="position: relative;">
            <div class="hotale-logo hotale-item-pdlr" >
                <div class="hotale-logo-inner">
                    <a class="hotale-fixed-nav-logo" href="index.html">
                        <img src="assets/logo.png" alt="" width="40" height="40"
                            style="width:120px" />
                    </a>
                    <a class="hotale-orig-logo" href="index.html">
                        <img src="assets/logo.png" alt="" width="110" height="110"
                            title="logo-hotel-mobile" style="width:120px" />
                    </a>
                </div>
                <!-- <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                    <a class="gdlr-core-button gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border btn--primary" style="padding:10px 30px"
                        href="apartments.html" id="gdlr-core-button-id-4">
                        <span class="gdlr-core-content">Reservation</span>
                    </a>
                </div> -->
            </div>

            <div class="hotale-mobile-menu-right">

                <div class="hotale-mobile-menu">
                    <a class="hotale-mm-menu-button hotale-mobile-menu-button hotale-mobile-button-hamburger hamburger"
                        href="#hotale-mobile-menu"><span></span></a>
                    <div class="hotale-mm-menu-wrap hotale-navigation-font" id="hotale-mobile-menu"
                        data-slide="right">

                        <ul id="menu-main-navigation" class="m-menu">
                          
<li class="menu-item menu-item-has-children hotale-normal-menu">
    <a href="about.html" class="sf-with-ul-pre">About Javea</a>
    <ul class="sub-menu">
        <li class="menu-item"><a
                href="attractions.html">Attractions</a></li>
        <li class="menu-item" data-size="60">
            <a href="long-term-rental.html">Long Term Rental</a>
        </li>

    </ul>
</li>


<li class="menu-item menu-item-has-children hotale-normal-menu">
    <a href="apartments.html" class="sf-with-ul-pre">Apartments</a>
    <ul class="sub-menu">
        <li class="menu-item" data-size="60">
            <a href="apartment-1.html">Arena Dream
                A3A</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-2.html">Arena Dream
                D2B</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-3.html">Rennes Areal
                3</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-4.html">Rennes Areal
                6</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-5.html">Isleta Marina
                4</a>
        </li>

    </ul>
</li>

<li class="menu-ite hotale-normal-menu"><a
        href="gallery.html">Gallery</a></li>



<li class="menu-ite hotale-normal-menu"><a
        href="contact.html">Contact</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>