<li class="menu-item menu-item-has-children hotale-normal-menu">
    <a href="about.html" class="sf-with-ul-pre">About Javea</a>
    <ul class="sub-menu">
        <li class="menu-item"><a
                href="attractions.html">Attractions</a></li>
        <li class="menu-item" data-size="60">
            <a href="long-term-rental.html">Long Term Rental</a>
        </li>

    </ul>
</li>


<li class="menu-item menu-item-has-children hotale-normal-menu">
    <a href="apartments.html" class="sf-with-ul-pre">Apartments</a>
    <ul class="sub-menu">
        <li class="menu-item" data-size="60">
            <a href="apartment-1.html">Arena Dream
                A3A</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-2.html">Arena Dream
                D2B</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-3.html">Rennes Areal
                3</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-4.html">Rennes Areal
                6</a>
        </li>
        <li class="menu-item" data-size="60">
            <a href="apartment-5.html">Isleta Marina
                4</a>
        </li>

    </ul>
</li>

<li class="menu-ite hotale-normal-menu"><a
        href="gallery.html">Gallery</a></li>



<li class="menu-ite hotale-normal-menu"><a
        href="contact.html">Contact</a></li>