@use './utilities/colors';
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Sacramento&display=swap');


body {
	.gdlr-core-divider-line.gdlr-core-skin-divider {
		border-color: colors.$main-400;
		border-width: 3px;
	}
}

.hotale-footer-wrapper {
	background-color: colors.$main-400 !important;
}

.hotale-body-wrapper {
	background-color: colors.$bgc !important;
}

.contact-section {
	background-color: colors.$main-400;
}

.rooms-container {
	background-color: white;
}

.desktop-nav-container,
.attractions-container,
.cta-container,
.testimonial-container,
.attractions--second-container,
.testimonial-container {
	background-color: white;
}

.tourmaster-price-wrap.tourmaster-with-bg {
	background-color: colors.$secondary-400 !important;
}

.hotale-body-wrapper.hotale-with-frame,
body.hotale-full .hotale-fixed-footer {
	margin: 0;
}

.btn {
	&--primary {
		background-color: colors.$secondary-400 !important;
		border-radius: 0px !important;
		cursor: pointer;
	}
	&--secondary {
		border: 1px solid colors.$main-400 !important;
		color: colors.$main-400 !important;
		cursor: pointer;
	}
	&--third {
		border: 1px solid white !important;
		color: white !important;
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.attraction-card-second-right {
		display: flex;
		flex-direction: column-reverse;
	}
	.gallery-first-img {
		display: none;
	}
}

.logo {
	width: 150px !important;
}

.items-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-bottom: 4em;
}

.menu-active {
	border: 1px solid colors.$main-400 !important;
	background-color: colors.$main-400 !important;
	color: white !important;
}

#loader {
	width: 100%;
	height: 100vh;
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 10000000000;
	background-color: white;
}

.box {
	margin-top: 75px;

	&:last-child {
		margin-bottom: 75px;
	}
}

.hotale-header-style-plain.hotale-style-top-bar-logo .hotale-navigation {
	text-align: left !important;
}

@media (min-width: 1150px) {
	.hotale-header-style-plain.hotale-style-top-bar-logo .hotale-navigation {
		text-align: center !important;
	}
}
