@use './utilities/colors';
@use './utilities/mixins';

.hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh !important;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.4;
}

.handing {
	font-family: 'Allison', cursive !important;
	color: white !important;
	font-size: 60px !important;
	text-align: center;
	@include mixins.medium-devices {
		font-size: 120px !important;
	}
}

.hand-font{
	font-family: 'Allison', cursive !important;

}

.profit-room{
	position: absolute;
	right:0;
	bottom:0;
	left: 0;
	
}

.wis2-panel.wis2-panel--horizontal.fixed{
	position: absolute !important;
	background-color:white !important;
	padding: 20px 0
}

.slogan{
	font-family: 'Allison', cursive !important;
	color:white !important;
	font-size: 21px !important;

}
