@use './utilities/mixins';
@use './utilities/colors';
.bottom-nav {
	&_container {
		position: fixed;
		bottom: -75px;
		left: 0;
		right: 0;
		background-color: #1c1c1c;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		z-index: 100000000000;
		transition: all .6s;
		// @include mixins.large-devices {
		// 	display: none;
		// }
	}
	&_item {
		border: none;
		border-right: 1px solid white;
		border-top: 1px solid white;
		background-color: colors.$main-400;

		&:first-of-type {
			background-color: colors.$secondary-400;

			& span {
				color: black;
			}
			&:hover {
				background-color: #abac7690;
			}
		}
		&:hover {
			background-color: #29365690;
		}

		&-link {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 10px 0;
			gap: 5px;
		}
		& img {
            width: 25px;
            @include mixins.xs-devices {
                width: 30px;
            }
			
		}
		& span {
			font-size: 10px;
			text-transform: uppercase;
			font-weight: 600;
			color: white;
            @include mixins.xs-devices {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
            }
		}
	}
}


.show{
	bottom:0
}