@use './global';
@use './top-bar.scss';
@use'./nav.scss';
@use'./gallery.scss';
@use'./hero.scss';
@use'./attractions.scss';
@use'./footer.scss';
@use'./cookie-bar.scss';
@use'./apartment-template.scss';



@use'./components/info-card.scss';
@use'./components/loader.scss';
@use'./components/banner.scss';
@use'./mobile_buttons.scss';