@use '../utilities/mixins';


.banner {
    height: 180px;
    width: 100%;
    background-position: center;
    background-size: cover;

    @include mixins.medium-devices {
        height: 400px;
        
    }
    
    
}
